<div class="container">
    <header class="header">
        <h1>Grid Template Areas</h1>
    </header>
    <section class="banner">
        <h1>Banner</h1>
        <p>Making life easier</p>
    </section>
    <main class="main">
        <h1>From the blog</h1>
        <article class="article">
            <img src="assets/layer_5.PNG" class="img">
            <h2 class="title">How to make a grid layout</h2>
            <p class="content">Learn how to make a grid layout</p>
        </article>
        <article class="article">
            <img src="assets/layer_5.PNG" class="img">
            <h2 class="title">How to make a grid layout</h2>
            <p class="content">Learn how to make a grid layout</p>
        </article>
        <article class="article">
            <img src="assets/layer_5.PNG" class="img">
            <h2 class="title">How to make a grid layout</h2>
            <p class="content">Learn how to make a grid layout</p>
        </article>
        <article class="article">
            <img src="assets/layer_5.PNG" class="img">
            <h2 class="title">How to make a grid layout</h2>
            <p class="content">Learn how to make a grid layout</p>
        </article>
        <article class="article">
            <img src="assets/layer_5.PNG" class="img">
            <h2 class="title">How to make a grid layout</h2>
            <p class="content">Learn how to make a grid layout</p>
        </article>
        <article class="article">
            <img src="assets/layer_5.PNG" class="img">
            <h2 class="title">How to make a grid layout</h2>
            <p class="content">Learn how to make a grid layout</p>
        </article>
    </main>
    <aside class="sidebar">
        <h1>Latest news</h1>
        <p>Latest news</p>
    </aside>
    <footer class="footer">
        Footer
    </footer>
</div>