/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;

  display: flex;
  flex: 1;

  font-size: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  outline: 1px solid red !important;
  background: rgba($color: #25ff29, $alpha: 0.2) !important;
}
